#title {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    color: #fff;
}

.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h1, h3 {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

#features, #pricing {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

#pricing .plan {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button:focus {
    outline: 2px solid #ff4c68;
    outline-offset: 2px;
}
